
    .listing-modal-info-message {
        font-size: 14px;
        line-height: 20px;
    }

    .ant-form-item:last-child {
        margin: 0;
    }

    .footer-submit {
        margin-left: auto;
        display: block;
    }
