.step-indicator {
    margin-bottom: 25px;
    .step-row {
        display: flex; 
        border-bottom: 2px solid #0F1F4D;
        padding: 10px;
        align-items: center;
        &:last-child {
            border: none;
        }
        span {
            margin-right: 10px;
            background: #0F1F4D;
            padding: 2.5px 8px;
            font-size: 15px;
            border-radius: 100%;
        }
    }
}

.complete {
    background: #00FE9C !important;
    color: #080f39;
}