.page-header-wrapper {
    display: flex;
    align-items: center;
    .page-header {
        padding: 20px 100px;
        min-width: 300px;
        margin-bottom: 25px;
        background: #0072BE;
        width: -moz-fit-content;
        width: fit-content;
        -webkit-clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
        * {
            margin: 0;
        }
    }
}

@media screen and (max-width: 1000px) {
    .page-header-wrapper {
      flex-direction: column;
      text-align: center;
      .page-header {
          padding: 15px 100px;
          width: 100%;
          margin-bottom: 0;
          text-align: center;
          clip-path: initial;
          -webkit-clip-path: initial;
      }
      p {
          margin: 15px;
      }
    }
  }
