.play-wrapper {
    max-width: 1150px;
    text-align: center;
    margin: auto;
    .game {
        width: 750px;
        border-radius: 25px;
        margin-bottom: 25px;
        max-width: 100%;
    }
    .download-options {
        margin-bottom: 15px;
        img {
            width: 160px;
            height: 60px;
            object-fit: cover;
            object-position: 0 50%;
            margin-right: 12.5px;
            margin-left: 12.5px;
            cursor: pointer;
            &:hover {
  
                opacity: 0.7;
            }
        }
        
    }
}