.play-wrapper {
    max-width: 1150px;
    text-align: center;
    margin: auto;
    .game {
        width: 750px;
        border-radius: 25px;
        margin-bottom: 25px;
        max-width: 100%;
    }
    .download-options {
        display: flex;
        align-items: center ;
        justify-content: center;
        img {
            width: 160px;
            height: 60px;

            object-fit: cover;
            object-position: 0 50%;
            margin-right: 12.5px;
            margin-left: 12.5px;
            &:hover {
                cursor: pointer;
                opacity: 0.7;
            }
        }
    }
}