.social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    a {
        cursor: pointer;
        color: white;
        display: flex;
        &:hover {
            opacity: 0.7;
        }
        svg {
            font-size: 22.5px;
            margin: 7.5px;
            cursor: pointer;
        }
    }
}