Header {
    position: "fixed";
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 100px;
    .left-content {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        width: 100%;
        ul {
          display: flex;
          list-style: none;
          margin: 0;
          padding: 0;
          width: max-content;
        }
        li {
            color: white;
            font-size: 18px;
            font-weight: 600;
            margin-right: 20px;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }
        }
        .logo {
            margin-right: 30px;
            height: 55px;
        }
    }
    .right-content {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        width: 100%;
        .menu {
            font-size: 24px;
            color: white;
            cursor: pointer;
            display: none;
            margin-left: 15px;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.menu-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #080e39f0;
    z-index: 100000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    .logo {
        max-width: 200px;
        margin-bottom: 25px;
    }
    .close {
        position: absolute;
        right: 50px;
        font-size: 24px;
        color: white;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
    }
    ul {
        text-decoration: none;
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 25px;
        li {
            color: white;
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 15px;
        }
    }
}

@media screen and (max-width: 850px) {
    .wide {
        display: none !important;
    }
    .narrow {
        display: inline-flex !important;
    }
}