Header {
    position: "fixed";
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 100px;
    .left-content {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        width: 100%;
        ul {
          display: flex;
          list-style: none;
          margin: 0;
          padding: 0;
          width: max-content;
        }
        li {
            color: white;
            font-size: 18px;
            font-weight: 600;
            margin-right: 20px;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }
        }
        .logo {
            margin-right: 30px;
            height: 55px;
        }
    }
    .right-content {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        width: 100%;
        .menu {
            font-size: 24px;
            color: white;
            cursor: pointer;
            display: none;
            margin-left: 15px;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .wide {
        display: none !important;
    }
    .narrow {
        display: inline-flex !important;
    }
}