.listing-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    .header {
        display: flex;
        justify-content: space-between;
        background: #080E39;
        width: 100%;
        padding: 15px;
    }
    a {
        width: 100%;    
        div, img {
            width: 100%;
        }
    }

}