.listing-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    .header {
        display: flex;
        justify-content: space-between;
        background: #080E39;
        width: 100%;
        padding: 15px;
    }
    .image-wrapper {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        background-color: #f6f6f6;
        padding: 20px;
        a {
            div, img {
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
                width: 100%;
            }
        }
        .menu-wrapper {
            position: absolute;
            right: 25px;
            top: 15px;
            z-index: 1;
            height: 35px;
            width: 35px;
            align-items: center;
            display: flex;
            justify-content: center;
            border-radius: 100%;
            svg {
                font-size: 26px;
                color: black;
                cursor: pointer;
            }
        }
    }
    .footer {
        background: #000;
        display: flex;
        flex-direction: revert;
        justify-content: space-between;
        padding: 20px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        .right {
            display: flex;
            align-items: center;
            .price-chip {
                display: flex;
                align-items: center;
                img {
                    height: 25px;
                    width: 25px;
                    border-radius: 100%;
                }
                span {
                    font-weight: bold;
                    color: white;
                    margin-left: 10px;
                    font-size: 18px;
                }
        
            }
        }
    }
}