.header {
  max-width: 650px;
  text-align: center;
  margin-bottom: 25px;
  margin: auto;
  span {
    font-weight: bold;
    color: #b6b8b9;
    font-size: 20px;
  }
}

main {
  margin: 0 50px;
}

header {
  padding: 50px !important;
}

@media only screen and (max-width: 1400px) {
  main {
    margin: 0 25px !important;
  }

  header {
    padding: 40px 25px !important;
  }
}

button, a {
  cursor: pointer !important;
  &:hover {
    cursor: pointer !important;
  }
}

.ant-dropdown * {
  color: white;
  font-weight: 400;
}

.ant-modal-body {
  padding-top: 0;
}

.ant-modal-title {
  font-weight: bold;
  margin: 0;
  text-transform: capitalize;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 20px;
}

.tab-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: end;
  margin-bottom: 25px;
  .selector {
    display: flex;
    .option {
      cursor: pointer;
      text-transform: uppercase;
      font-weight: bold;
      font-weight: 600;
      font-size: 16px;
      padding: 15px;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  a {
    color: #FFFFFF;
    margin-left: 15px;
  }
  .selected {
    background-color: #FCE681;
    color: #000000;
    border-radius: 5px;
  }
}

.text-block {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 15px;
  }
  p, ul {
    font-size: 15px;
  }
}

.action-modal {
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .tab-row { 
    justify-content: center;
  }
}