@import 'node_modules/antd/dist/antd.less';

// App Colours

@text: #cccccc;
@primary: #FCE681;


// Ant Design Overrides

@layout-header-background: #000000;
@layout-footer-background: #000000;
@primary-color: @primary;
@component-background: #000000;
@border-color-base: #b6b8b9;
@modal-background: #000000;
@border-radius-base: 10px;
@border-radius-sm: @border-radius-base;
@item-hover-bg: 0;
// Text Colors

@heading-color: #ffffff;
@heading-1-size: 30px;
@heading-2-size: 26px;
@heading-3-size: 24px;
@heading-4-size: 20px;
@heading-5-size: 15px;
@heading-6-size: 10.72px;
@text-color: @text;

// Modal 

@modal-header-bg: @modal-background;
@modal-content-bg: @modal-background;
@modal-footer-bg: @modal-background;
@modal-header-border-color-split: @modal-background;
@modal-close-color: #ffffff;
@modal-header-padding-vertical: 50px;
@modal-header-padding-horizontal: 50px;
@modal-body-padding:  50px;
@modal-header-bg:  50px;
@modal-mask-bg: #767676c7;

// Input

@input-addon-bg: 0;

// Dropdown 

@dropdown-menu-bg: #1F242B;
@dropdown-vertical-padding: 10px;
@dropdown-font-size: 16px;
@dropdown-selected-bg: #000000;

// Buttons

@btn-primary-color: #000000;
@btn-default-color: #ffffff;
@btn-default-bg: transparent;
@btn-default-border: #b6b8b9;
@btn-font-weight: 600;