@import 'node_modules/antd/dist/antd.less';

@layout-header-background: #080E39;
@layout-footer-background: #080E39;
@primary-color: #00FE9C;
@btn-primary-color: #080E39;
@heading-color: #ffffff;
@heading-1-size: 30px;
@heading-2-size: 24px;
@heading-3-size: 22px;
@heading-4-size: 20px;
@heading-5-size: 15px;
@heading-6-size: 10.72px;
@text-color: #63707B;