.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    flex: 1;
    background: #0F0F0F;
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.not-found-header {
    margin-top: 15px;
}