.authenticated-user {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    .balance-chip {
        display: flex;
        flex-direction: row;
        align-items: center;
        line-height: initial;
        padding: 12.5px;
        min-width: 125px;
        justify-content: space-between;
        margin-right: 15px;
        border: 1px solid #FCE681;
        border-radius: 10px;
        img {
            height: 25px;
            border-radius: 100%;
            margin-right: 10px;
        }
        span {
            font-weight: bold;
            color: white;
        }
    }
    .wallet {
        display: flex;
        text-align: center;
        height: 35px;
        width: 35px;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        color: white;
        font-size: 20px;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
    }
}
.auth-modal-wrapper {
    text-align: center;
    .address-details {
        display: flex;
        flex-direction: column;
        .label {
            color: #ffffff;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 13px;
            margin-bottom: 5px;
        }
        .address {
            background: #1F242B;
            color: #ffffff;
            padding: 15px;
            font-size: 15px;
            border-radius: 10px;
        }
    }
    .balance-row {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        margin: 25px 0;
        border-radius: 15px;
        .balance-label {
            font-weight: bold;
            color: #ffffff;
        }
        .balance-amount {
            font-weight: bold;
            color: #ffffff;
        }
        img {
            border-radius: 100%;
            height: 25px;
            width: 25px;
            margin-right: 10px;
        }
    }
    a {
        margin-left: auto;
        display: table;
        margin-bottom: 15px;
    }
    .disconnect-button {
        width: 100%;
    }
}

.explorer-link {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 0 !important;
}