.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 500px;
    margin: auto;
    height: calc(100vh - 510px);
    background: #000;
    border-radius: 25px;
    padding: 50px;
    height: 250px;
    img {
        height: 50px;
        margin-bottom: 15px;
    }
}